streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
transformers
pypdf
torch
python-dotenv
tiktoken
requests
numpy>=2
pymupdf
fpdf2
